* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{

width: 800px;
height: 200px;
background-color: rgb(236, 6, 160);

margin: 0 auto;
}

#judul {
    color: white;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 70px;
}

#navbar {
    width: 800px;
    color: white;
    background-color: rgb(173, 123, 100);
    margin: 0 auto;
}
#navbar ul {
    list-style: none;
}
#navbar ul li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#content {
    width: 800px;
    margin: 0 auto;
    background: #f2f2f2;
}
#artikel {
   background: #07c7fc;
   padding: 30px;
   font-size: 18px;
   width: 500px;
   float: left;
}
#sidebar {
    background: #07f3f3;
    width: 300px;
    padding: 30px;
    float:right;
}
.clear {
    clear: both;

}
#footer {
    width: 800px;
    background: rgb(173, 123, 100);
    margin: 0 auto;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    
}
